<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
body{
text-align: center;
font-size: 30px;
margin-top: 100px;
background-color: #F5FDC6;
}
<body>

</style>
<body>
<form method="post" action="saveOrder" th:object="${orderToSave}">
<label>Customer</label>
<select th:field="*{listIndexCustomer}">
    <option th:each="i : ${customerList}"
            th:text="${i.name + ' ' + i.deliveryAddress}"
            th:value="${customerList.indexOf(i)}"></option>
</select>

<div>
    <button type="submit">Save</button>
</div>
</form>

</body>
</html>